In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("data/190623_rumahcom_tangsel_city_unfiltered.csv", encoding = "latin8")
df.head()

,nav-link href,listing-location,price,bed,bath,listing-floorarea,listing-floorarea 2
0,https://www.rumah.com/listing-properti/dijual-...,"Gading Serpong, Tangerang Selatan, Banten","6,9 M",5.0,5.0,420 mĠ,Rp 20.720.721 per mĠ
1,https://www.rumah.com/listing-properti/dijual-...,"Gading Serpong, Tangerang Selatan, Banten","4,5 M",3.0,3.0,190 mĠ,Rp 12.747.875 per mĠ
2,https://www.rumah.com/listing-properti/dijual-...,"Gading Serpong, Tangerang Selatan, Banten","3,95 M",3.0,3.0,132 mĠ,Rp 30.859.375 per mĠ
3,https://www.rumah.com/listing-properti/dijual-...,"Gading Serpong, Tangerang Selatan, Banten","3,3 M",4.0,3.0,220 mĠ,Rp 18.333.333 per mĠ
4,https://www.rumah.com/listing-properti/dijual-...,"Gading Serpong, Tangerang Selatan, Banten","3,5 M",3.0,2.0,180 mĠ,Rp 27.777.778 per mĠ

In [3]:
df.shape

(29420, 7)

In [4]:
df.isna().sum()

nav-link href            0
listing-location         0
price                    0
bed                    138
bath                   205
listing-floorarea        0
listing-floorarea 2     37
dtype: int64

In [5]:
df.duplicated().sum()

5241

In [6]:
df.drop_duplicates(inplace=True)

In [7]:
df.duplicated().sum()

0

## Bed & Bath column missing values handling

In [19]:
df[df.isna().any(axis=1)]

,nav-link href,listing-location,price,bed,bath,listing-floorarea,listing-floorarea 2
52,https://www.rumah.com/listing-properti/dijual-...,"Jl Jombang Raya Bintaro Ciputat, Ciputat, Tang...","1,43 M",NaN,NaN,94 mĠ,Rp 20.140.845 per mĠ
232,https://www.rumah.com/listing-properti/dijual-...,Jl. Merak no. 10B Komplek Pajak Jurangmangu Ti...,690 jt,2.0,NaN,36 mĠ,Rp 11.500.000 per mĠ
285,https://www.rumah.com/listing-properti/dijual-...,"Bintaro, Tangerang Selatan, Banten",2 M,NaN,NaN,162 mĠ,Rp 18.181.818 per mĠ
328,https://www.rumah.com/listing-properti/dijual-...,"Plumeria GR 23, Pondok Aren, Tangerang Selatan...","1,2 M",NaN,NaN,69 mĠ,Rp 20.000.000 per mĠ
474,https://www.rumah.com/listing-properti/dijual-...,"jl lengkong wetan, Serpong, Tangerang Selatan,...","1,5 M",4.0,3.0,72 mĠ,NaN
...,...,...,...,...,...,...,...
27233,https://www.rumah.com/listing-properti/dijual-...,"Bintaro, Tangerang Selatan, Banten",45 M,NaN,NaN,3000 mĠ,Rp 35.828.025 per mĠ
27957,https://www.rumah.com/listing-properti/dijual-...,"Jl. Raya Jombang, Pondok Aren, Tangerang Selat...","1,5 M",NaN,NaN,70 mĠ,Rp 9.375.000 per mĠ
28201,https://www.rumah.com/listing-properti/dijual-...,"Alam Sutera, Tangerang Selatan, Banten","3,3 M",5.0,NaN,149 mĠ,Rp 14.224.138 per mĠ
28805,https://www.rumah.com/listing-properti/dijual-...,"Gading Serpong, Tangerang Selatan, Banten",600 jt,2.0,1.0,60 mĠ,NaN
29344,https://www.rumah.com/listing-properti/dijual-...,"Jl. Puspitek, BSD, Tangerang Selatan, Banten","5,5 M",5.0,6.0,200 mĠ,NaN

In [21]:
df[df["bed"].isna() & df["bath"].isna()]

,nav-link href,listing-location,price,bed,bath,listing-floorarea,listing-floorarea 2
52,https://www.rumah.com/listing-properti/dijual-...,"Jl Jombang Raya Bintaro Ciputat, Ciputat, Tang...","1,43 M",NaN,NaN,94 mĠ,Rp 20.140.845 per mĠ
285,https://www.rumah.com/listing-properti/dijual-...,"Bintaro, Tangerang Selatan, Banten",2 M,NaN,NaN,162 mĠ,Rp 18.181.818 per mĠ
328,https://www.rumah.com/listing-properti/dijual-...,"Plumeria GR 23, Pondok Aren, Tangerang Selatan...","1,2 M",NaN,NaN,69 mĠ,Rp 20.000.000 per mĠ
633,https://www.rumah.com/listing-properti/dijual-...,"BSD, Tangerang Selatan, Banten","19,5 M",NaN,NaN,151 mĠ,Rp 29.862.175 per mĠ
923,https://www.rumah.com/listing-properti/dijual-...,"Jl. Discovery Aluvia, Pondok Aren, Tangerang S...","3,159 M",NaN,NaN,110 mĠ,Rp 35.100.000 per mĠ
...,...,...,...,...,...,...,...
27026,https://www.rumah.com/listing-properti/dijual-...,"Perumahan bukit mas, Bintaro, Tangerang Selata...",6 M,NaN,NaN,275 mĠ,Rp 12.000.000 per mĠ
27029,https://www.rumah.com/listing-properti/dijual-...,"Ciputat, Tangerang Selatan, Banten","1,8 M",NaN,NaN,130 mĠ,Rp 12.676.056 per mĠ
27150,https://www.rumah.com/listing-properti/dijual-...,"Bintaro, Tangerang Selatan, Banten","6,5 M",NaN,NaN,300 mĠ,Rp 18.258.427 per mĠ
27233,https://www.rumah.com/listing-properti/dijual-...,"Bintaro, Tangerang Selatan, Banten",45 M,NaN,NaN,3000 mĠ,Rp 35.828.025 per mĠ
27957,https://www.rumah.com/listing-properti/dijual-...,"Jl. Raya Jombang, Pondok Aren, Tangerang Selat...","1,5 M",NaN,NaN,70 mĠ,Rp 9.375.000 per mĠ

In [23]:
df.dropna(inplace=True)

In [25]:
df.shape

(23984, 7)

In [31]:
df.isna().sum()

nav-link href          0
listing-location       0
price                  0
bed                    0
bath                   0
listing-floorarea      0
listing-floorarea 2    0
dtype: int64

In [35]:
29420 -5241 -195

23984